* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Boska';
}

body {
    overflow: hidden;
    overflow-y: auto;
    background: linear-gradient(to right, #000000, #202020);
    background-repeat: no-repeat;

    header {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30%;
        height: 10vh;

        h2 {
            margin-left: 20px;
            border-bottom: 1px solid white;
            color: white;
        }

        ul {

            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;

            li {
                transition: transform .3s;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.3em;
                    transition: color .3s;
                    &:hover {
                        color:rgb(11, 147, 59);;

                    }
                }

               
            }
        }

        .sign-in {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 90%;
            border-radius: 10px;
            background-color: rgb(48, 46, 46);
            height: 40px;
            width: 120px;
            transition: background-color .3s;

            h3 {
                font-weight: 400;
                font-family: 'Hind', sans-serif;
                color: white;
            }

            &:hover {
                background-color: rgb(44, 44, 44);
            }
        }
    }


}

main {
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    gap: 100px;
    height: 100vh;
    width: 100%;

    .cont-img {
        height: 89.5%;
        width: 50%;

        img {

            height: 100%;
            width: 100%;

        }
    }

    .cont-txt {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        gap: 50px;
        top: 10;
        left: 50%;

        height: 100vh;
        width: 50%;
        z-index: 10;

        h1 {
            font-family: sans-serif;
            color: rgb(245, 226, 214);
            width: 600px;
        }

        p {
            font-size: 1.2em;
            color: rgb(255, 255, 255);
            width: 600px;
        }

        .cont-button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            width: 100%;
            height: 100px;

            .get {

                font-family: 'Hind', sans-serif;
                height: 50px;
                width: 200px;
                border-radius: 10px;
                background-color: #dacca2ef;
                border: 1px solid white;
                font-size: 1.5em;
                font-weight: 600;
                color: rgb(0, 0, 0);
                transition: transform .2s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .ver {
                font-family: 'Hind', sans-serif;
                height: 50px;
                width: 200px;
                border-radius: 10px;
                background-color: #dacca200;
                border: 1px solid white;
                font-size: 1.5em;
                font-weight: 300;
                color: rgb(255, 255, 255);
                transition: transform .2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .cont-info {
            background-color: rgba(255, 255, 255, 0);
            width: 600px;
            height: 200px;
            border: 1px solid rgb(255, 255, 255);
            transition: border .3s;
            &:hover{

                border: 1px solid rgb(11,147,59);
            }
            border-radius: 20px;

            ul {
                height: 100%;
                width: 100%;
                color: white;
                list-style: none;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 60px;

                .item-list {
                    h3 {
                        color: #dacca2ef;
                        font-weight: 600;
                        font-size: 1.5em;
                        margin-bottom: 20px;
                        font-family: 'Hind', sans-serif;
                    }

                    margin-left: 20px;

                    width: 130px;

                    p {
                        font-family: 'Hind', sans-serif;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

@media(max-width:1300px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;

        header {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
                border-bottom: 1px solid white;
            }

            .sign-in {
                left: 85%;
            }
        }

        main {
            padding-bottom: 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 100px;

            .cont-img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50%;

                img {
                    width: 50%;
                    height: 80%;

                }
            }

            .cont-txt {
                h1 {
                    font-family: 'Hind', sans-serif;
                    color: azure;
                    width: auto;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 1.2em;
                    color: white;
                    width: auto;
                }

                .cont-info {
                    width: auto;
                    height: 150px;

                    ul {
                        gap: 5px;

                        .item-list {
                            h3 {

                                font-weight: 700;
                                font-size: 1.2em;
                                margin-bottom: 20px;
                            }

                            margin-left: 10px;

                            width: 130px;

                            p {
                                font-family: 'Hind', sans-serif;
                                font-size: 1.2em;
                            }
                        }
                    }

                }
            }

        }

    }


}

@media(max-width:500px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;

        header {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
                border-bottom: 1px solid white;
            }

            nav {
                ul {

                    gap: 10px;
                }

            }

            .sign-in {
                position: none;
            }
        }

        main {
            padding-bottom: 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 100px;

            .cont-img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50%;

                img {
                    width: 50%;
                    height: 80%;

                }
            }

            .cont-txt {
                h1 {
                    font-family: 'Hind', sans-serif;
                    color: azure;
                    width: auto;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 1.2em;
                    color: white;
                    width: auto;
                }

                .cont-info {
                    width: auto;
                    height: 150px;

                    ul {
                        gap: 5px;

                        .item-list {
                            h3 {

                                font-weight: 700;
                                font-size: 1.2em;
                                margin-bottom: 20px;
                            }

                            margin-left: 10px;

                            width: 130px;

                            p {
                                font-family: 'Hind', sans-serif;
                                font-size: 1.2em;
                            }
                        }
                    }

                }
            }

        }

    }


}